.rowStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cardStyle {
    display: inline-block;
    min-width: 275;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

.cardTitle {
  margin: 0;
  font-family: 'Roboto', 'Brandon Grotesque', 'Sans-serif';
 font-weight: 400;
}
